node_modules/
dist/
playwright-report/
test-results/
.openai/*.tar.gz

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# MacOS
.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
Icon[]
